/*
--------
RESET
--------
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
--------
GENERAL
--------
*/

body {
  font-family: 'Fredoka', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/*
--------
HEADER
--------
*/

header .container {
  text-align: center;
}

.container h1 {
  font-size: 32px;
  font-weight: bold;
  color: #e53170;
  padding: 30px 0;
}

.container p {
  padding: 15px 0;
}

/*
--------
MAIN
--------
*/

.team-group::after {
  content: '';
  display: block;
  clear: both;
}

.team-member {
  margin: 25px 10px;
  border: 1px solid black;
  float: left;
  width: calc(100% / 3 - 20px);
}

.img-member {
  width: 100px;
  float: left;
  background-color: blue;
}

.bio-member {
  width: calc(100% - 100px);
  /* background-color: #0f0e17; */
  float: left;
  height: 100px;
}

.img-member img {
  width: 100%;
  display: block;
}

