/*
--------
RESET
--------
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
--------
GENERAL
--------
*/

body {
  font-family: 'Fredoka', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/*
--------
HEADER
--------
*/

header .container {
  text-align: center;
}

.container h1 {
  font-size: 32px;
  font-weight: bold;
  color: #e53170;
  padding: 30px 0;
}

.container p {
  padding: 15px 0;
}

/*
--------
MAIN
--------
*/

.team-group::after {
  content: '';
  display: block;
  clear: both;
}

.team-member {
  background-color: #0f0e17;
  margin: 25px 10px;
  float: left;
  width: calc(100% / 3 - 20px);
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.1), 3px 0 10px rgba(0, 0, 0, 0.1), 0px 3px 10px rgba(0, 0, 0, 0.1), 0 -3px 10px rgba(0, 0, 0, 0.1);
}

.img-member {
  width: 100px;
  float: left;
}

.bio-member {
  width: calc(100% - 100px);
  background-color: #0f0e17;
  float: left;
  padding: 12px;
}

.img-member img {
  width: 100%;
  display: block;
}

.bio-member div {
  margin-bottom: 5px;
} 

.bio-member div:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.bio-member div:nth-child(2) {
  font-size: 15px;
  color: white;
}

.bio-member div:nth-child(3) a {
  text-decoration: none;
  font-size: 13px;
  color: #55ccf2;
}





